In [1]:
import pandas

In [2]:
people = pandas.read_csv('Titanic.csv', index_col=None)
people.fillna('')

,Unnamed: 0,Name,PClass,Age,Sex,Survived,SexCode
0,1,"Allen, Miss Elisabeth Walton",1st,29,female,1,1
1,2,"Allison, Miss Helen Loraine",1st,2,female,0,1
2,3,"Allison, Mr Hudson Joshua Creighton",1st,30,male,0,0
3,4,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25,female,0,1
4,5,"Allison, Master Hudson Trevor",1st,0.92,male,1,0
5,6,"Anderson, Mr Harry",1st,47,male,1,0
6,7,"Andrews, Miss Kornelia Theodosia",1st,63,female,1,1
7,8,"Andrews, Mr Thomas, jr",1st,39,male,0,0
8,9,"Appleton, Mrs Edward Dale (Charlotte Lamson)",1st,58,female,1,1
9,10,"Artagaveytia, Mr Ramon",1st,71,male,0,0
10,11,"Astor, Colonel John Jacob",1st,47,male,0,0
11,12,"Astor, Mrs John Jacob (Madeleine Talmadge Force)",1st,19,female,1,1
12,13,"Aubert, Mrs Leontine Pauline",1st,,female,1,1
13,14,"Barkworth, Mr Algernon H",1st,,male,1,0
14,15,"Baumann, Mr John D",1st,,male,0,0
15,16,"Baxter, Mrs James (Helene DeLaudeniere Chaput)",1st,50,female,1,1
16,17,"Baxter, Mr Quigg Edmond",1st,24,male,0,0
17,18,"Beattie, Mr Thomson",1st,36,male,0,0
18,19,"Beckwith, Mr Richard Leonard",1st,37,male,1,0
19,20,"Beckwith, Mrs Richard Leonard (Sallie Monypeny)",1st,47,female,1,1
20,21,"Behr, Mr Karl Howell",1st,26,male,1,0
21,22,"Birnbaum, Mr Jakob",1st,25,male,0,0
22,23,"Bishop, Mr Dickinson H",1st,25,male,1,0
23,24,"Bishop, Mrs Dickinson H (Helen Walton)",1st,19,female,1,1
24,25,"Bjornstrm-Steffansson, Mr Mauritz Hakan",1st,28,male,1,0
25,26,"Blackwell, Mr Stephen Weart",1st,45,male,0,0
26,27,"Blank, Mr Henry",1st,39,male,1,0
27,28,"Bonnell, Miss Caroline",1st,30,female,1,1
28,29,"Bonnell, Miss Elizabeth",1st,58,female,1,1
29,30,"Borebank, Mr John James",1st,,male,0,0
...,...,...,...,...,...,...,...
1283,1284,"Vestrom, Miss Hulda Amanda Adolfina",3rd,14,female,0,1
1284,1285,"Vonk, Mr Jenko",3rd,22,male,0,0
1285,1286,"Ware, Mr Frederick",3rd,,male,0,0
1286,1287,"Warren, Mr Charles William",3rd,,male,0,0
1287,1288,"Wazli, Mr Yousif",3rd,,male,0,0
1288,1289,"Webber, Mr James",3rd,,male,0,0
1289,1290,"Wennerstrom, Mr August Edvard",3rd,,male,1,0
1290,1291,"Wenzel, Mr Linhart",3rd,,male,0,0
1291,1292,"Widegren, Mr Charles Peter",3rd,51,male,0,0
1292,1293,"Wiklund, Mr Jacob Alfred",3rd,18,male,0,0
1293,1294,"Wilkes, Mrs Ellen",3rd,45,female,1,1
1294,1295,"Willer, Mr Aaron",3rd,,male,0,0
1295,1296,"Willey, Mr Edward",3rd,,male,0,0
1296,1297,"Williams, Mr Howard Hugh",3rd,,male,0,0
1297,1298,"Williams, Mr Leslie",3rd,28,male,0,0
1298,1299,"Windelov, Mr Einar",3rd,21,male,0,0
1299,1300,"Wirz, Mr Albert",3rd,27,male,0,0
1300,1301,"Wiseman, Mr Phillippe",3rd,,male,0,0
1301,1302,"Wittevrongel, Mr Camiel",3rd,36,male,0,0
1302,1303,"Yalsevac, Mr Ivan",3rd,,male,1,0
1303,1304,"Yasbeck, Mr Antoni",3rd,27,male,0,0
1304,1305,"Yasbeck, Mrs Antoni",3rd,15,female,1,1
1305,1306,"Youssef, Mr Gerios",3rd,,male,0,0
1306,1307,"Zabour, Miss Hileni",3rd,,female,0,1
1307,1308,"Zabour, Miss Tamini",3rd,,female,0,1
1308,1309,"Zakarian, Mr Artun",3rd,27,male,0,0
1309,1310,"Zakarian, Mr Maprieder",3rd,26,male,0,0
1310,1311,"Zenni, Mr Philip",3rd,22,male,0,0
1311,1312,"Lievens, Mr Rene",3rd,24,male,0,0
1312,1313,"Zimmerman, Leo",3rd,29,male,0,0

In [3]:
print("Known passengers on Titanic:")
all_passengers = len(people.index)
print(all_passengers)

Known passengers on Titanic:
1313

In [4]:
survived = people['Survived']
all_survivors = survived[survived == 1]
print("Survived:")
print(len(all_survivors))

Survived:
450

In [5]:
sex = people[['Sex','Survived']]
males = len(sex[(sex['Sex'] == 'male')])
males_survived = len(sex[(sex['Sex'] == 'male') & (sex['Survived'] == 1)])
percentage = float(males_survived)/float(males)

print("How many males survived (percentage):")
print("{:.2%}".format(percentage))

How many males survived (percentage):
16.69%

In [6]:
females = len(sex[(sex['Sex'] == 'female')])
females_survived = len(sex[(sex['Sex'] == 'female') & (sex['Survived'] == 1)])
percentage = float(females_survived)/float(females)
print("How many females survived (percentage):")
print("{:.2%}".format(percentage))

How many females survived (percentage):
66.67%

In [7]:
by_class = people[['PClass', 'Survived']]

In [8]:
grouped = by_class.groupby('PClass')['Survived'].apply(list)
print(grouped)

PClass
*                                                    [0]
1st    [1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, ...
2nd    [0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, ...
3rd    [0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, ...
Name: Survived, dtype: object

In [9]:
#from functools import reduce

# I probably should iterate over groups...
first = grouped['1st']
all_first = len(first)
print('1st class passengers on board:')
print(all_first)

# this should work, but it isn't
#filtered = reduce(lambda x: x == 1, first)
#print(filtered)

count = 0
for s in first:
    if s:
        count += 1
print("Survived:")
print(count)
print("Percentage of all survivors:")
perc = float(count)/float(len(all_survivors))
print("{:.2%}".format(perc))

1st class passengers on board:
322
Survived:
193
Percentage of all survivors:
42.89%

In [10]:
## NOT working
#for name, group in grouped:
#    print('%s class passengers on board:' % name)
#    print(len(group))
    
#    count = 0
#    for s in group:
#        if s:
#            count += 1
#    print("Survived:")
#    print(count)
    
#    print("Percentage of all survivors:")
#    perc = float(count)/float(len(all_survivors))
#    print("{:.2%}".format(perc))

In [11]:
#from functools import reduce

# I probably should iterate over groups...
group = grouped['2nd']
all_group = len(group)
print('2nd class passengers on board:')
print(all_group)

# this should work, but it isn't
#filtered = reduce(lambda x: x == 1, first)
#print(filtered)

count = 0
for s in group:
    if s:
        count += 1
print("Survived:")
print(count)
print("Percentage of all survivors:")
perc = float(count)/float(len(all_survivors))
print("{:.2%}".format(perc))

2nd class passengers on board:
279
Survived:
119
Percentage of all survivors:
26.44%

In [12]:
#from functools import reduce

# I probably should iterate over groups...
group = grouped['3rd']
all_group = len(group)
print('3rd class passengers on board:')
print(all_group)

# this should work, but it isn't
#filtered = reduce(lambda x: x == 1, first)
#print(filtered)

count = 0
for s in group:
    if s:
        count += 1
print("Survived:")
print(count)
print("Percentage of all survivors:")
perc = float(count)/float(len(all_survivors))
print("{:.2%}".format(perc))

3rd class passengers on board:
711
Survived:
138
Percentage of all survivors:
30.67%