In [1]:
import pandas

In [2]:
people = pandas.read_csv('Titanic.csv', index_col=None)

In [50]:
print(people)

                                                  Name  SexCode
0                         Allen, Miss Elisabeth Walton        1
1                          Allison, Miss Helen Loraine        1
2                  Allison, Mr Hudson Joshua Creighton        0
3        Allison, Mrs Hudson JC (Bessie Waldo Daniels)        1
4                        Allison, Master Hudson Trevor        0
5                                   Anderson, Mr Harry        0
6                     Andrews, Miss Kornelia Theodosia        1
7                               Andrews, Mr Thomas, jr        0
8         Appleton, Mrs Edward Dale (Charlotte Lamson)        1
9                               Artagaveytia, Mr Ramon        0
10                           Astor, Colonel John Jacob        0
11    Astor, Mrs John Jacob (Madeleine Talmadge Force)        1
12                        Aubert, Mrs Leontine Pauline        1
13                            Barkworth, Mr Algernon H        0
14                                  Baumann, Mr John D        0
15      Baxter, Mrs James (Helene DeLaudeniere Chaput)        1
16                             Baxter, Mr Quigg Edmond        0
17                                 Beattie, Mr Thomson        0
18                        Beckwith, Mr Richard Leonard        0
19     Beckwith, Mrs Richard Leonard (Sallie Monypeny)        1
20                                Behr, Mr Karl Howell        0
21                                  Birnbaum, Mr Jakob        0
22                              Bishop, Mr Dickinson H        0
23              Bishop, Mrs Dickinson H (Helen Walton)        1
24             Bjornstrm-Steffansson, Mr Mauritz Hakan        0
25                         Blackwell, Mr Stephen Weart        0
26                                     Blank, Mr Henry        0
27                              Bonnell, Miss Caroline        1
28                             Bonnell, Miss Elizabeth        1
29                             Borebank, Mr John James        0
...                                                ...      ...
1283               Vestrom, Miss Hulda Amanda Adolfina        1
1284                                    Vonk, Mr Jenko        0
1285                                Ware, Mr Frederick        0
1286                        Warren, Mr Charles William        0
1287                                  Wazli, Mr Yousif        0
1288                                  Webber, Mr James        0
1289                     Wennerstrom, Mr August Edvard        0
1290                                Wenzel, Mr Linhart        0
1291                        Widegren, Mr Charles Peter        0
1292                          Wiklund, Mr Jacob Alfred        0
1293                                 Wilkes, Mrs Ellen        1
1294                                  Willer, Mr Aaron        0
1295                                 Willey, Mr Edward        0
1296                          Williams, Mr Howard Hugh        0
1297                               Williams, Mr Leslie        0
1298                                Windelov, Mr Einar        0
1299                                   Wirz, Mr Albert        0
1300                             Wiseman, Mr Phillippe        0
1301                           Wittevrongel, Mr Camiel        0
1302                                 Yalsevac, Mr Ivan        0
1303                                Yasbeck, Mr Antoni        0
1304                               Yasbeck, Mrs Antoni        1
1305                                Youssef, Mr Gerios        0
1306                               Zabour, Miss Hileni        1
1307                               Zabour, Miss Tamini        1
1308                                Zakarian, Mr Artun        0
1309                            Zakarian, Mr Maprieder        0
1310                                  Zenni, Mr Philip        0
1311                                  Lievens, Mr Rene        0
1312                                    Zimmerman, Leo        0

[1313 rows x 2 columns]

In [4]:
print(people.columns)

Index(['Unnamed: 0', 'Name', 'PClass', 'Age', 'Sex', 'Survived', 'SexCode'], dtype='object')

In [51]:
people = pandas.read_csv('Titanic.csv', index_col=None, usecols=[1,6])
people.fillna('')

                                                  Name  SexCode
0                         Allen, Miss Elisabeth Walton        1
1                          Allison, Miss Helen Loraine        1
2                  Allison, Mr Hudson Joshua Creighton        0
3        Allison, Mrs Hudson JC (Bessie Waldo Daniels)        1
4                        Allison, Master Hudson Trevor        0
5                                   Anderson, Mr Harry        0
6                     Andrews, Miss Kornelia Theodosia        1
7                               Andrews, Mr Thomas, jr        0
8         Appleton, Mrs Edward Dale (Charlotte Lamson)        1
9                               Artagaveytia, Mr Ramon        0
10                           Astor, Colonel John Jacob        0
11    Astor, Mrs John Jacob (Madeleine Talmadge Force)        1
12                        Aubert, Mrs Leontine Pauline        1
13                            Barkworth, Mr Algernon H        0
14                                  Baumann, Mr John D        0
15      Baxter, Mrs James (Helene DeLaudeniere Chaput)        1
16                             Baxter, Mr Quigg Edmond        0
17                                 Beattie, Mr Thomson        0
18                        Beckwith, Mr Richard Leonard        0
19     Beckwith, Mrs Richard Leonard (Sallie Monypeny)        1
20                                Behr, Mr Karl Howell        0
21                                  Birnbaum, Mr Jakob        0
22                              Bishop, Mr Dickinson H        0
23              Bishop, Mrs Dickinson H (Helen Walton)        1
24             Bjornstrm-Steffansson, Mr Mauritz Hakan        0
25                         Blackwell, Mr Stephen Weart        0
26                                     Blank, Mr Henry        0
27                              Bonnell, Miss Caroline        1
28                             Bonnell, Miss Elizabeth        1
29                             Borebank, Mr John James        0
...                                                ...      ...
1283               Vestrom, Miss Hulda Amanda Adolfina        1
1284                                    Vonk, Mr Jenko        0
1285                                Ware, Mr Frederick        0
1286                        Warren, Mr Charles William        0
1287                                  Wazli, Mr Yousif        0
1288                                  Webber, Mr James        0
1289                     Wennerstrom, Mr August Edvard        0
1290                                Wenzel, Mr Linhart        0
1291                        Widegren, Mr Charles Peter        0
1292                          Wiklund, Mr Jacob Alfred        0
1293                                 Wilkes, Mrs Ellen        1
1294                                  Willer, Mr Aaron        0
1295                                 Willey, Mr Edward        0
1296                          Williams, Mr Howard Hugh        0
1297                               Williams, Mr Leslie        0
1298                                Windelov, Mr Einar        0
1299                                   Wirz, Mr Albert        0
1300                             Wiseman, Mr Phillippe        0
1301                           Wittevrongel, Mr Camiel        0
1302                                 Yalsevac, Mr Ivan        0
1303                                Yasbeck, Mr Antoni        0
1304                               Yasbeck, Mrs Antoni        1
1305                                Youssef, Mr Gerios        0
1306                               Zabour, Miss Hileni        1
1307                               Zabour, Miss Tamini        1
1308                                Zakarian, Mr Artun        0
1309                            Zakarian, Mr Maprieder        0
1310                                  Zenni, Mr Philip        0
1311                                  Lievens, Mr Rene        0
1312                                    Zimmerman, Leo        0

[1313 rows x 2 columns]

In [7]:
print(people)

                                                  Name  SexCode
0                         Allen, Miss Elisabeth Walton        1
1                          Allison, Miss Helen Loraine        1
2                  Allison, Mr Hudson Joshua Creighton        0
3        Allison, Mrs Hudson JC (Bessie Waldo Daniels)        1
4                        Allison, Master Hudson Trevor        0
5                                   Anderson, Mr Harry        0
6                     Andrews, Miss Kornelia Theodosia        1
7                               Andrews, Mr Thomas, jr        0
8         Appleton, Mrs Edward Dale (Charlotte Lamson)        1
9                               Artagaveytia, Mr Ramon        0
10                           Astor, Colonel John Jacob        0
11    Astor, Mrs John Jacob (Madeleine Talmadge Force)        1
12                        Aubert, Mrs Leontine Pauline        1
13                            Barkworth, Mr Algernon H        0
14                                  Baumann, Mr John D        0
15      Baxter, Mrs James (Helene DeLaudeniere Chaput)        1
16                             Baxter, Mr Quigg Edmond        0
17                                 Beattie, Mr Thomson        0
18                        Beckwith, Mr Richard Leonard        0
19     Beckwith, Mrs Richard Leonard (Sallie Monypeny)        1
20                                Behr, Mr Karl Howell        0
21                                  Birnbaum, Mr Jakob        0
22                              Bishop, Mr Dickinson H        0
23              Bishop, Mrs Dickinson H (Helen Walton)        1
24             Bjornstrm-Steffansson, Mr Mauritz Hakan        0
25                         Blackwell, Mr Stephen Weart        0
26                                     Blank, Mr Henry        0
27                              Bonnell, Miss Caroline        1
28                             Bonnell, Miss Elizabeth        1
29                             Borebank, Mr John James        0
...                                                ...      ...
1283               Vestrom, Miss Hulda Amanda Adolfina        1
1284                                    Vonk, Mr Jenko        0
1285                                Ware, Mr Frederick        0
1286                        Warren, Mr Charles William        0
1287                                  Wazli, Mr Yousif        0
1288                                  Webber, Mr James        0
1289                     Wennerstrom, Mr August Edvard        0
1290                                Wenzel, Mr Linhart        0
1291                        Widegren, Mr Charles Peter        0
1292                          Wiklund, Mr Jacob Alfred        0
1293                                 Wilkes, Mrs Ellen        1
1294                                  Willer, Mr Aaron        0
1295                                 Willey, Mr Edward        0
1296                          Williams, Mr Howard Hugh        0
1297                               Williams, Mr Leslie        0
1298                                Windelov, Mr Einar        0
1299                                   Wirz, Mr Albert        0
1300                             Wiseman, Mr Phillippe        0
1301                           Wittevrongel, Mr Camiel        0
1302                                 Yalsevac, Mr Ivan        0
1303                                Yasbeck, Mr Antoni        0
1304                               Yasbeck, Mrs Antoni        1
1305                                Youssef, Mr Gerios        0
1306                               Zabour, Miss Hileni        1
1307                               Zabour, Miss Tamini        1
1308                                Zakarian, Mr Artun        0
1309                            Zakarian, Mr Maprieder        0
1310                                  Zenni, Mr Philip        0
1311                                  Lievens, Mr Rene        0
1312                                    Zimmerman, Leo        0

[1313 rows x 2 columns]

In [52]:
people = pandas.read_csv('Titanic.csv', index_col=None)
people.fillna('')

,Unnamed: 0,Name,PClass,Age,Sex,Survived,SexCode
0,1,"Allen, Miss Elisabeth Walton",1st,29,female,1,1
1,2,"Allison, Miss Helen Loraine",1st,2,female,0,1
2,3,"Allison, Mr Hudson Joshua Creighton",1st,30,male,0,0
3,4,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25,female,0,1
4,5,"Allison, Master Hudson Trevor",1st,0.92,male,1,0
5,6,"Anderson, Mr Harry",1st,47,male,1,0
6,7,"Andrews, Miss Kornelia Theodosia",1st,63,female,1,1
7,8,"Andrews, Mr Thomas, jr",1st,39,male,0,0
8,9,"Appleton, Mrs Edward Dale (Charlotte Lamson)",1st,58,female,1,1
9,10,"Artagaveytia, Mr Ramon",1st,71,male,0,0
10,11,"Astor, Colonel John Jacob",1st,47,male,0,0
11,12,"Astor, Mrs John Jacob (Madeleine Talmadge Force)",1st,19,female,1,1
12,13,"Aubert, Mrs Leontine Pauline",1st,,female,1,1
13,14,"Barkworth, Mr Algernon H",1st,,male,1,0
14,15,"Baumann, Mr John D",1st,,male,0,0
15,16,"Baxter, Mrs James (Helene DeLaudeniere Chaput)",1st,50,female,1,1
16,17,"Baxter, Mr Quigg Edmond",1st,24,male,0,0
17,18,"Beattie, Mr Thomson",1st,36,male,0,0
18,19,"Beckwith, Mr Richard Leonard",1st,37,male,1,0
19,20,"Beckwith, Mrs Richard Leonard (Sallie Monypeny)",1st,47,female,1,1
20,21,"Behr, Mr Karl Howell",1st,26,male,1,0
21,22,"Birnbaum, Mr Jakob",1st,25,male,0,0
22,23,"Bishop, Mr Dickinson H",1st,25,male,1,0
23,24,"Bishop, Mrs Dickinson H (Helen Walton)",1st,19,female,1,1
24,25,"Bjornstrm-Steffansson, Mr Mauritz Hakan",1st,28,male,1,0
25,26,"Blackwell, Mr Stephen Weart",1st,45,male,0,0
26,27,"Blank, Mr Henry",1st,39,male,1,0
27,28,"Bonnell, Miss Caroline",1st,30,female,1,1
28,29,"Bonnell, Miss Elizabeth",1st,58,female,1,1
29,30,"Borebank, Mr John James",1st,,male,0,0
...,...,...,...,...,...,...,...
1283,1284,"Vestrom, Miss Hulda Amanda Adolfina",3rd,14,female,0,1
1284,1285,"Vonk, Mr Jenko",3rd,22,male,0,0
1285,1286,"Ware, Mr Frederick",3rd,,male,0,0
1286,1287,"Warren, Mr Charles William",3rd,,male,0,0
1287,1288,"Wazli, Mr Yousif",3rd,,male,0,0
1288,1289,"Webber, Mr James",3rd,,male,0,0
1289,1290,"Wennerstrom, Mr August Edvard",3rd,,male,1,0
1290,1291,"Wenzel, Mr Linhart",3rd,,male,0,0
1291,1292,"Widegren, Mr Charles Peter",3rd,51,male,0,0
1292,1293,"Wiklund, Mr Jacob Alfred",3rd,18,male,0,0
1293,1294,"Wilkes, Mrs Ellen",3rd,45,female,1,1
1294,1295,"Willer, Mr Aaron",3rd,,male,0,0
1295,1296,"Willey, Mr Edward",3rd,,male,0,0
1296,1297,"Williams, Mr Howard Hugh",3rd,,male,0,0
1297,1298,"Williams, Mr Leslie",3rd,28,male,0,0
1298,1299,"Windelov, Mr Einar",3rd,21,male,0,0
1299,1300,"Wirz, Mr Albert",3rd,27,male,0,0
1300,1301,"Wiseman, Mr Phillippe",3rd,,male,0,0
1301,1302,"Wittevrongel, Mr Camiel",3rd,36,male,0,0
1302,1303,"Yalsevac, Mr Ivan",3rd,,male,1,0
1303,1304,"Yasbeck, Mr Antoni",3rd,27,male,0,0
1304,1305,"Yasbeck, Mrs Antoni",3rd,15,female,1,1
1305,1306,"Youssef, Mr Gerios",3rd,,male,0,0
1306,1307,"Zabour, Miss Hileni",3rd,,female,0,1
1307,1308,"Zabour, Miss Tamini",3rd,,female,0,1
1308,1309,"Zakarian, Mr Artun",3rd,27,male,0,0
1309,1310,"Zakarian, Mr Maprieder",3rd,26,male,0,0
1310,1311,"Zenni, Mr Philip",3rd,22,male,0,0
1311,1312,"Lievens, Mr Rene",3rd,24,male,0,0
1312,1313,"Zimmerman, Leo",3rd,29,male,0,0

In [15]:
print(people)

      Unnamed: 0                                              Name PClass  \
0              1                      Allen, Miss Elisabeth Walton    1st
1              2                       Allison, Miss Helen Loraine    1st
2              3               Allison, Mr Hudson Joshua Creighton    1st
3              4     Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st
4              5                     Allison, Master Hudson Trevor    1st
5              6                                Anderson, Mr Harry    1st
6              7                  Andrews, Miss Kornelia Theodosia    1st
7              8                            Andrews, Mr Thomas, jr    1st
8              9      Appleton, Mrs Edward Dale (Charlotte Lamson)    1st
9             10                            Artagaveytia, Mr Ramon    1st
10            11                         Astor, Colonel John Jacob    1st
11            12  Astor, Mrs John Jacob (Madeleine Talmadge Force)    1st
12            13                      Aubert, Mrs Leontine Pauline    1st
13            14                          Barkworth, Mr Algernon H    1st
14            15                                Baumann, Mr John D    1st
15            16    Baxter, Mrs James (Helene DeLaudeniere Chaput)    1st
16            17                           Baxter, Mr Quigg Edmond    1st
17            18                               Beattie, Mr Thomson    1st
18            19                      Beckwith, Mr Richard Leonard    1st
19            20   Beckwith, Mrs Richard Leonard (Sallie Monypeny)    1st
20            21                              Behr, Mr Karl Howell    1st
21            22                                Birnbaum, Mr Jakob    1st
22            23                            Bishop, Mr Dickinson H    1st
23            24            Bishop, Mrs Dickinson H (Helen Walton)    1st
24            25           Bjornstrm-Steffansson, Mr Mauritz Hakan    1st
25            26                       Blackwell, Mr Stephen Weart    1st
26            27                                   Blank, Mr Henry    1st
27            28                            Bonnell, Miss Caroline    1st
28            29                           Bonnell, Miss Elizabeth    1st
29            30                           Borebank, Mr John James    1st
...          ...                                               ...    ...
1283        1284               Vestrom, Miss Hulda Amanda Adolfina    3rd
1284        1285                                    Vonk, Mr Jenko    3rd
1285        1286                                Ware, Mr Frederick    3rd
1286        1287                        Warren, Mr Charles William    3rd
1287        1288                                  Wazli, Mr Yousif    3rd
1288        1289                                  Webber, Mr James    3rd
1289        1290                     Wennerstrom, Mr August Edvard    3rd
1290        1291                                Wenzel, Mr Linhart    3rd
1291        1292                        Widegren, Mr Charles Peter    3rd
1292        1293                          Wiklund, Mr Jacob Alfred    3rd
1293        1294                                 Wilkes, Mrs Ellen    3rd
1294        1295                                  Willer, Mr Aaron    3rd
1295        1296                                 Willey, Mr Edward    3rd
1296        1297                          Williams, Mr Howard Hugh    3rd
1297        1298                               Williams, Mr Leslie    3rd
1298        1299                                Windelov, Mr Einar    3rd
1299        1300                                   Wirz, Mr Albert    3rd
1300        1301                             Wiseman, Mr Phillippe    3rd
1301        1302                           Wittevrongel, Mr Camiel    3rd
1302        1303                                 Yalsevac, Mr Ivan    3rd
1303        1304                                Yasbeck, Mr Antoni    3rd
1304        1305                               Yasbeck, Mrs Antoni    3rd
1305        1306                                Youssef, Mr Gerios    3rd
1306        1307                               Zabour, Miss Hileni    3rd
1307        1308                               Zabour, Miss Tamini    3rd
1308        1309                                Zakarian, Mr Artun    3rd
1309        1310                            Zakarian, Mr Maprieder    3rd
1310        1311                                  Zenni, Mr Philip    3rd
1311        1312                                  Lievens, Mr Rene    3rd
1312        1313                                    Zimmerman, Leo    3rd

        Age     Sex  Survived  SexCode
0     29.00  female         1        1
1      2.00  female         0        1
2     30.00    male         0        0
3     25.00  female         0        1
4      0.92    male         1        0
5     47.00    male         1        0
6     63.00  female         1        1
7     39.00    male         0        0
8     58.00  female         1        1
9     71.00    male         0        0
10    47.00    male         0        0
11    19.00  female         1        1
12      NaN  female         1        1
13      NaN    male         1        0
14      NaN    male         0        0
15    50.00  female         1        1
16    24.00    male         0        0
17    36.00    male         0        0
18    37.00    male         1        0
19    47.00  female         1        1
20    26.00    male         1        0
21    25.00    male         0        0
22    25.00    male         1        0
23    19.00  female         1        1
24    28.00    male         1        0
25    45.00    male         0        0
26    39.00    male         1        0
27    30.00  female         1        1
28    58.00  female         1        1
29      NaN    male         0        0
...     ...     ...       ...      ...
1283  14.00  female         0        1
1284  22.00    male         0        0
1285    NaN    male         0        0
1286    NaN    male         0        0
1287    NaN    male         0        0
1288    NaN    male         0        0
1289    NaN    male         1        0
1290    NaN    male         0        0
1291  51.00    male         0        0
1292  18.00    male         0        0
1293  45.00  female         1        1
1294    NaN    male         0        0
1295    NaN    male         0        0
1296    NaN    male         0        0
1297  28.00    male         0        0
1298  21.00    male         0        0
1299  27.00    male         0        0
1300    NaN    male         0        0
1301  36.00    male         0        0
1302    NaN    male         1        0
1303  27.00    male         0        0
1304  15.00  female         1        1
1305    NaN    male         0        0
1306    NaN  female         0        1
1307    NaN  female         0        1
1308  27.00    male         0        0
1309  26.00    male         0        0
1310  22.00    male         0        0
1311  24.00    male         0        0
1312  29.00    male         0        0

[1313 rows x 7 columns]

In [53]:
print("Known passengers on Titanic:")
all_passengers = len(people.index)
print(all_passengers)

Known passengers on Titanic:
1313

In [55]:
survived = people['Survived']
print("Survived:")
print(len(survived[survived == 1]))

Survived:
450

In [54]:
sex = people[['Sex','Survived']]
males = len(sex[(sex['Sex'] == 'male')])
males_survived = len(sex[(sex['Sex'] == 'male') & (sex['Survived'] == 1)])
percentage = float(males_survived)/float(males)

print("How many males survived (percentage):")
print("{:.2%}".format(percentage))

How many males survived (percentage):
16.69%

In [56]:
females = len(sex[(sex['Sex'] == 'female')])
females_survived = len(sex[(sex['Sex'] == 'female') & (sex['Survived'] == 1)])
percentage = float(females_survived)/float(females)
print("How many females survived (percentage):")
print("{:.2%}".format(percentage))

How many females survived (percentage):
66.67%

In [57]:
by_class = people[['PClass', 'Survived']]

In [62]:
groups = by_class.groupby('PClass')['Survived'].apply(list)
print(groups)

PClass
*                                                    [0]
1st    [1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, ...
2nd    [0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, ...
3rd    [0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, ...
Name: Survived, dtype: object